#!/bin/bash

unset is_darwin
[ "`uname`" == "Darwin" ] && export is_darwin=1

[ $is_darwin ] && color="-G" || color="--color"

alias ll="ls -alFh $color"
alias sl='ll'
alias l='ll'
alias snv='svn'

alias quit='exit'
alias :q='exit'

alias myip='curl -s http://ip.appspot.com'
alias chrome='open -a /Applications/Google\ Chrome.app'
alias reload='. ~/.bash_profile'
