[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "/Users/mvrilo/.vim/autoload/plug"]
	path = .vim/autoload/plug
	url = https://github.com/junegunn/vim-plug
