[user]
  email = mvrilo@gmail.com
  name = Murilo Santana

[color]
  ui = true

[alias]
  ci = commit
  co = checkout
  stat = status
  st = status
  ll = log --pretty=oneline --abbrev-commit --max-count=15
  punch = !git pull && git push
