[user]
  email = mvrilo@gmail.com
  name = Murilo Santana

[github]
  user = mvrilo

[color]
  ui = true

[core]
  editor = /usr/bin/vim

[alias]
  ci = commit
  co = checkout
  stat = status
  st = status
  ll = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lg = !git ll --graph
  punch = !git pull && git push
